{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <p>What did you eat?</p>
        <form method="POST">
            {% csrf_token %}
            <select name="food_consumed" id="food_consumed">
                {% for food in foodData %}
                    <option value="{{food.name}}">{{food.name}}</option>
                {% endfor %}
    
            </select>
            <button type="submit">Add</button>
        </form>
        <div class="show-button" id="show-buttonList">Show your today's consumed food list</div>
        <table id="foodTable" hidden>
            <thead>
                <th scope="col">Food</th>
                <th scope="col">Carbs/100g</th>
                <th scope="col">Protein/100g</th>
                <th scope="col">Fats/100g</th>
                <th scope="col">Calories/100g</th>
            </thead>
            <tbody>
                {% for item in consumed_food %}
                    <tr>
                        <td>{{item.food_consumed.name}}</td>
                        <td>{{item.food_consumed.carbs}}</td>
                        <td>{{item.food_consumed.protein}}</td>
                        <td>{{item.food_consumed.fats}}</td>
                        <td>{{item.food_consumed.calories}}</td>
                        <td><a class="delete-btn" href="{% url 'delete' item.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td id="name">Total</td>
                    <td id="carbs"></td>
                    <td id="protein"></td>
                    <td id="fats"></td>
                    <td id="calories"></td>
                </tr>
            </tbody>
        </table>
    
    </div>
    <div class="container">
        <p style="font-size: 20px;">Macronutrients Breakdown(grams):</p>
        <canvas id="myChart" hidden></canvas>
    </div>
</div>

<div class="header">
    <h3>2000 kcal per day progress</h3>
    <div class="progress-bar">
        <div class="progress" id="progress-bar" style="height:24px;width:50%">50%</div>
    </div>
      
</div>
{% endblock %}